@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.52133b8c58aa67dd971e966509ecae77.eot?jg94dy');
  src:  url('../fonts/icomoon.52133b8c58aa67dd971e966509ecae77.eot?jg94dy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.5915f5becfe5165755c3e105422905e7.ttf?jg94dy') format('truetype'),
    url('../fonts/icomoon.614844afd82ec1d8f16dcf15c47d8dcd.woff?jg94dy') format('woff'),
    url('../fonts/icomoon.9e022e0e70dde9bcc8cafab75424379c.svg?jg94dy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons8_Ringer_Volume_1:before {
  content: "\e936";
  color: #fff;
}
.icon-icons8_Video_Record_1:before {
  content: "\e933";
  color: #fff;
}
.icon-icons8_Video_Record:before {
  content: "\e934";
  color: #f00;
}
.icon-icons8_HDTV:before {
  content: "\e935";
  color: #fff;
}
.icon-icons8_Phone:before {
  content: "\e931";
  color: #fff;
}
.icon-icons8_Sip_Dialer:before {
  content: "\e932";
  color: #fff;
}
.icon-icons8_add_conference:before {
  content: "\e900";
  color: #71dfc3;
}
.icon-icons8_Add_User_Male:before {
  content: "\e901";
  color: #71dfc3;
}
.icon-icons8_Address_Book:before {
  content: "\e902";
  color: #fff;
}
.icon-icons8_Android_OS_black:before {
  content: "\e903";
}
.icon-icons8_Android_OS_white:before {
  content: "\e904";
  color: #fff;
}
.icon-icons8_Apple_black:before {
  content: "\e905";
}
.icon-icons8_Apple_white:before {
  content: "\e906";
  color: #fff;
}
.icon-icons8_Calendar:before {
  content: "\e907";
  color: #fff;
}
.icon-icons8_Calendar_Plus_2:before {
  content: "\e908";
  color: #fff;
}
.icon-icons8_Chat:before {
  content: "\e909";
  color: #fff;
}
.icon-icons8_Checked_User_Male:before {
  content: "\e90a";
  color: #fff;
}
.icon-icons8_Collapse:before {
  content: "\e90b";
  color: #fff;
}
.icon-icons8_End_Call:before {
  content: "\e90c";
  color: #f00;
}
.icon-icons8_Exit_1:before {
  content: "\e90d";
  color: #fff;
}
.icon-icons8_Expand:before {
  content: "\e90e";
  color: #fff;
}
.icon-icons8_Globe:before {
  content: "\e90f";
  color: #fff;
}
.icon-icons8_Hand:before {
  content: "\e910";
  color: #fff;
}
.icon-icons8_Home_black:before {
  content: "\e911";
}
.icon-icons8_Home_white:before {
  content: "\e912";
  color: #fff;
}
.icon-icons8_Laptop:before {
  content: "\e913";
  color: #fff;
}
.icon-icons8_Lecturer:before {
  content: "\e914";
  color: #fff;
}
.icon-icons8_List:before {
  content: "\e915";
  color: #fff;
}
.icon-icons8_Lock:before {
  content: "\e916";
  color: #fff;
}
.icon-icons8_Microphone:before {
  content: "\e917";
  color: #fff;
}
.icon-icons8_Moderator:before {
  content: "\e918";
  color: #fff;
}
.icon-icons8_More:before {
  content: "\e919";
  color: #fff;
}
.icon-icons8_Mute_Unmute:before {
  content: "\e91a";
  color: #fff;
}
.icon-icons8_No_Video:before {
  content: "\e91b";
  color: #fff;
}
.icon-icons8_Notification:before {
  content: "\e91c";
  color: #fff;
}
.icon-icons8_Office_Phone:before {
  content: "\e91d";
  color: #fff;
}
.icon-icons8_Padlock:before {
  content: "\e91e";
  color: #fff;
}
.icon-icons8_PC_black:before {
  content: "\e91f";
}
.icon-icons8_PC_white:before {
  content: "\e920";
  color: #fff;
}
.icon-icons8_Photo_Gallery:before {
  content: "\e921";
  color: #fff;
}
.icon-icons8_Plus_Math:before {
  content: "\e922";
  color: #fff;
}
.icon-icons8_Record_red:before {
  content: "\e923";
  color: #f00;
}
.icon-icons8_Record_white:before {
  content: "\e924";
  color: #fff;
}
.icon-icons8_schedule_meeting:before {
  content: "\e925";
  color: #71dfc3;
}
.icon-icons8_Settings:before {
  content: "\e926";
  color: #fff;
}
.icon-icons8_Settings_1:before {
  content: "\e927";
  color: #fff;
}
.icon-icons8_Share_3:before {
  content: "\e928";
  color: #fff;
}
.icon-icons8_Star_Filled:before {
  content: "\e929";
  color: #fff;
}
.icon-icons8_temp_conference:before {
  content: "\e92a";
  color: #71dfc3;
}
.icon-icons8_Template:before {
  content: "\e92b";
  color: #fff;
}
.icon-icons8_User_Account:before {
  content: "\e92c";
  color: #fff;
}
.icon-icons8_Video_Call:before {
  content: "\e92d";
  color: #fff;
}
.icon-icons8_Video_Chat:before {
  content: "\e92e";
  color: #fff;
}
.icon-icons8_Whiteboard:before {
  content: "\e92f";
  color: #fff;
}
.icon-icons8-master-32:before {
  content: "\e930";
  color: #fcfcfc;
}
